/* Intro  */

.introLogo {
  text-align: center;
}

.logoImg {
  height: 250px;
}

.logoTop {
  text-align: left;
  font-size: 72px !important;
  margin-bottom: -35px !important;
}

.logoBottom {
  color: #313131 !important;
  font-size: 106px !important;
}

.introStuff h1 {
  color: #c1a7d2;
}

::selection {
  background: #835284;
  color: #d8369e;
}

.introHeader {
  font-size: 64px;
}

.introChunk {
  min-width: 390px;
}

/* About */
.cardContainer {
  display: flex;
  justify-content: center;
}
.aboutCard {
  width: 240px;
  height: 320px;
  background: #4fcdaf;
  margin: 20px;
  overflow: hidden;
}

/* Snaggle */
.logoFooter {
  position: fixed;
  bottom: 15px;
  z-index: -1;
}

/* REDESIGN */
.introTop {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 950px;
  text-shadow: 2px 3px 3px #000000ab;
}

.introTop h1 {
  margin: 0;
  font-size: 120px;
}

.angle {
  position: absolute;
  top: 0px;
  left: 50vw;
  width: 100%;
  height: 100%;
  background-color: #9de4d7;
  z-index: 1;
  transform: skew(-45deg);
}

.background {
  position: absolute;
  width: 2000px;
  height: 104vh;
  background: linear-gradient(
    -45deg,
    rgba(157, 228, 215, 1) 66.8%,
    rgb(49, 49, 49) 66.9%
  );
}

#work {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}
