/* Intro  */
.introMain {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 50px;
}

.introHeader {
  font-size: 64px;
}

.introChunk {
  min-width: 390px;
}

/* Work */
.workMain {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.card {
  width: 240px;
  height: 320px;
  background: #4fcdaf;
  margin: 20px;
}

/* About */
.cardContainer {
  display: flex;
  justify-content: center;
}
.aboutCard {
  width: 240px;
  height: 320px;
  background: #4fcdaf;
  margin: 20px;
  overflow: hidden;
}

/* Snaggle */
.logoFooter {
  position: fixed;
  bottom: 15px;
  z-index: -1;
}

/* REDESIGN */
.introTop {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.introTop h1 {
  margin: 0;
  font-size: 120px;
}

.angle {
  position: absolute;
  top: 0px;
  right: -50%;
  width: 100%;
  height: 100%;
  background-color: pink;
  z-index: 1;
  transform: skew(-45deg);
}

.wrap {
  background: rgb(99, 75, 101);
  background: linear-gradient(
    321deg,
    rgba(99, 75, 101, 1) 60%,
    rgba(234, 230, 236, 1) 60.1%
  );
}
