#header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  z-index: 6;
}

h2 {
  min-width: 115px;
  padding: 0 20px;
}

h2:hover {
  color: #143f46;
  text-decoration-line: underline;
}

a {
  text-decoration: none;
  color: inherit;
}
