#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

h2 {
  min-width: 115px;
}

h2:hover {
  color: #143f46;
  text-decoration-line: underline;
}

a {
  text-decoration: none;
  color: inherit;
}
