body {
  padding-bottom: 150px;
  margin: 0;
  overflow-x: hidden;
}
a,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #5a4361;
}

* {
  font-family: "Open Sans", sans-serif;
}

.chevron {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  color: #3e7d78c7;
}
