body {
  padding-bottom: 150px;
  margin: 0;
  overflow-x: hidden;
}
a,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #5a4361;
}

* {
  font-family: "Open Sans", sans-serif;
}

.chevron {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  color: #3e7d78c7;
  z-index: 2;
}
.wrap {
  background: rgb(157, 228, 215);
  background: linear-gradient(
    -45deg,
    rgba(157, 228, 215, 1) 50%,
    rgba(245, 245, 245, 1) 50.1%
  );
}
